@tailwind base;
@tailwind components;
@tailwind utilities;

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.w-48 {
    width: 192px;
}

.px-24 {
    padding-left: 96px;
    padding-right: 96px;
}

.text-white {
    color: white;
}

.gap-20 {
    gap: 80px;
}

.text-6xl {
    font-size: xx-large;
}

.w-96 {
    width: 396px;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.text-4xl {
    font-size: large;

}

.gap-5 {
    gap: 20px;
}

.w-60 {
    width: 15rem
        /* 240px */
    ;
}

.h-14 {
    height: 3.5rem
        /* 56px */
    ;
}

.bg-teal-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(45 212 191 / var(--tw-bg-opacity));
}

.bg-teal-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(31, 158, 166);
}

.rounded-md {
    border-radius: 0.375rem
        /* 6px */
    ;
}

.fit-content {
    width: fit-content;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-20 {
    margin-top: 5rem;
}

.top-0 {
    top: 0px
}

.py-8 {
    padding-top: 2rem
        /* 32px */
    ;
    padding-bottom: 2rem;
}

.p-2 {
    padding: 8px;
}

.px-5 {
    padding-left: 1.25rem
        /* 20px */
    ;
    padding-right: 1.25rem
        /* 20px */
    ;
}

.p-5 {
    padding: 1.25rem
        /* 20px */
    ;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}


.text-base {
    font-size: 1rem
        /* 16px */
    ;
    line-height: 1.5rem
        /* 24px */
    ;
}

.w-2\/3 {
    width: 66.666667%;
}

.justify-center {
    justify-content: center;
}

.rotate-y-170 {
    transform: rotateY(170deg);
}

.py-10 {
    padding-top: 40px;
    padding-bottom: 40px;

}

.text-teal-600 {
    --tw-text-opacity: 1;
    color: rgb(13 148 136 / var(--tw-text-opacity));
}

.w-1\/4 {
    width: 25%;
}

.grid {
    display: grid;
}

.grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.text-sm {
    font-size: 0.875rem
        /* 14px */
    ;
    line-height: 1.25rem
        /* 20px */
    ;
}

.px-9 {
    padding-left: 36px;
    padding-right: 36px;
}

.text-sky-900 {
    --tw-text-opacity: 1;
    color: rgb(12 74 110 / var(--tw-text-opacity));
}

.w-10 {
    width: 2.5rem
        /* 40px */
    ;
}

.mb-2 {
    margin-bottom: 0.5rem
        /* 8px */
    ;
}

.mb-4 {
    margin-bottom: 16px;
}

.mt-32 {
    margin-top: 8rem
        /* 128px */
    ;
}

.h-28 {
    height: 7rem
        /* 112px */
    ;
}

.rounded-xl {
    border-radius: 0.75rem
        /* 12px */
    ;
}

.bg-neutral-50 {
    background-color: #e5e7eb;
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.my-4 {
    margin-top: 1rem
        /* 16px */
    ;
    margin-bottom: 1rem
        /* 16px */
    ;
}

.p-3 {
    padding: 0.75rem
        /* 12px */
    ;
}

.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}

.h-5 {
    height: 1.25rem
        /* 20px */
    ;
}

.w-5 {
    width: 1.25rem
        /* 20px */
    ;
}

.-top-5 {
    top: -1.25rem
        /* -20px */
    ;
}

.cursor-pointer {
    cursor: pointer;
}

.h-60 {
    height: 248px
        /* 240px */
    ;
}

.rounded-tr-md {
    border-top-right-radius: 0.375rem
        /* 6px */
    ;
}

.rounded-bl-md {
    border-bottom-left-radius: 0.375rem
        /* 6px */
    ;
}

.rounded-br-md {
    border-bottom-right-radius: 0.375rem
        /* 6px */
    ;
}

.rounded-tl-md {
    border-top-left-radius: 0.375rem
        /* 6px */
    ;
}

.w-98 {
    width: 420px;
}

.p-4 {
    padding: 14px
        /* 16px */
    ;
}

.px-4 {
    padding-left: 1rem
        /* 16px */
    ;
    padding-right: 1rem
        /* 16px */
    ;
}

.py-2 {
    padding-top: 0.5rem
        /* 8px */
    ;
    padding-bottom: 0.5rem
        /* 8px */
    ;
}

.pt-2 {
    padding-top: 0.5em;
}

.bg-slate-900 {
    --tw-bg-opacity: 1;
    background-color: rgb(15 23 42 / var(--tw-bg-opacity));
}

.h-24 {
    height: 4rem
        /* 96px */
    ;
}

.w-full {
    width: 100%;
}

.w-screen {
    width: 100vw;
}

.w-28 {
    width: 5rem
        /* 112px */
    ;
}

.gap-4 {
    gap: 0.5rem
        /* 16px */
    ;
}